# 系統與環境
.DS_Store
venv/
.vscode/
__pycache__/
*.log

# 忽略所有練習用的 .py 檔
**/*.py

# 允許所有的 .ipynb
!**/*.ipynb

# 排除重要檔案 (不被忽略)
!**/SmartLife_Toolbox.py
!**/Loop_Practice_Tool.py
!**/Smart_Award_System.py
# 設定檔
!requirements.txt
!README.md
!LICENSE