# 系統與環境
.DS_Store
venv/
.vscode/
__pycache__/
*.log

# 忽略所有練習用的 .py 檔
**/*.py

# 忽略所有程式產生的資料檔 (.dat)
*.dat

# 允許所有的 .ipynb
!**/*.ipynb

# 🔥 核心修正：允許Project資料夾下的所有 .py 檔上傳
!Project/**/*.py

# 設定檔
!requirements.txt
!README.md
!LICENSE