# macOS 系統檔案
.DS_Store

# Python 自動產生的快取
__pycache__/
*.py[cod]
*$py.class

# 虛擬環境
venv/
.venv/
env/

# 大數據練習可能產生的記錄檔
*.log

# VS Code 專案設定
.vscode/

# ==================================================
# 練習題上傳規則： (一勞永逸的新增在這裡)
# ==================================================

# 1. 忽略所有子資料夾下的 .py 檔案 (不傳送到 GitHub)
**/*.py

# 2. 排除重要的設定檔 (確保這個檔案一定會被上傳)
!requirements.txt